<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://cxf.apache.org/jaxws 
        http://cxf.apache.org/schemas/jaxws.xsd">
	<!-- 关于cxf需要的配置文件 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<!-- <import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" /> -->
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />


	<!-- 配置具体的接口实现od -->
	<bean name="cxfTestServer" class="cn.itcast.cxfServer.impl.CxfTestServerImpl"></bean>

	<!-- 配置cxf -->
	<jaxws:server id="cxfWebServer" serviceClass="cn.itcast.cxfServer.CxfTestServer" address="/cxfServer">
		<jaxws:serviceBean>
			<ref bean="cxfTestServer"/>
		</jaxws:serviceBean>
	</jaxws:server>

</beans>      
